<template>
  <section>
    <h4>My people</h4>
    <p v-if="error">{{ error }}</p>
    <ul>
      <PeopleListItem
        v-for="person of people"
        :key="person.id.value"
        :person="person"
        @person-clicked="handlePersonClicked"
      />
    </ul>
  </section>
</template>

<script>
import { fetchPeople } from "../../api/people";
import PeopleListItem from "./PeopleListItem";

export default {
  components: {
    PeopleListItem,
  },
  created() {
    fetchPeople()
      .then((people) => (this.people = people))
      .catch((error) => (this.error = error.message));
  },
  data() {
    return {
      people: [],
      error: "",
    };
  },
  methods: {
    handlePersonClicked(personId) {
        this.$router.push(`/person/${personId}`)
    },
  },
};
</script>

<style>
</style>