<template>
  <li class="person" @click="onPersonClicked">
    <aside class="person__avatar">
      <img :src="person.picture.thumbnail" :alt="person.name.first" />
    </aside>
    <article>
      <h4>{{ person.name.first }} {{ person.name.last }}</h4>
      <p>
        <span class="material-icons">mail</span>
        {{ person.email }}
      </p>
      <p>
        <span class="material-icons">call</span>
        {{ person.phone }}
      </p>
    </article>
  </li>
</template>

<script>
// CHILD COMPONENT
export default {
  props: {
    person: {
      type: Object,
      required: true,
      default: function () {
        return {
          name: "",
          address: "",
        };
      },
    },
  },
  methods: {
    onPersonClicked() {
      // Emit an event to the parent.
      this.$emit('person-clicked', this.person.id)
    },
  },
};
</script>

<style>
.person {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  border-bottom: 1px solid #efefef;
  padding: 0.75em 0.5em;
}
.person__avatar {
  margin-right: 0.75em;
}
.person__avatar img {
  border-radius: 50%;
}
</style>
